<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnciy6FLC2Eieoq_RVWYY8jqxK-0NAndg</string>
	<key>GCM_SENDER_ID</key>
	<string>258537332920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-midea-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>social-midea-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258537332920:ios:a14006ef70de93a14e544d</string>
</dict>
</plist>